body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #8E7AB5;
}
h1 {
    font-size: 30px;
    color: black;
}
h2 {
    font-size: 20px;
    color: black;
}
label {
    background-color: #B784B7;
}

#userlabel {
    font-size: 15px;
}
#namelabel {
    font-size: 15px;
}
#genderlabel {
    font-size: 15px;
}


#passLabel {
    font-size: 15px;
}

.labelClass{
    color: white;
}
.buttonClass{
    color: black;
}